---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.hbs
renderData:
  title: "Tagged “{{ tag }}”"
---

<h1>Tagged “{{ tag }}”</h1>

{{> components/postslist postlist=(reverse (get tag collections))}}

<nav>
  <a href="{{ url '/blog/' }}">← Blog index</a>
</nav>
