.article {
  flex: 1;

  > *,
  pre[class*='language-'] {
    margin-top: 0;
    margin-bottom: var(--spacing-spacious);
  }

  p {
    line-height: var(--line-height-comfortable);
  }

  code:not([class*='language-']) {
    padding: 0 2px;
    color: var(--color-text-inverted);
    background-color: var(--bg-code);
    border-radius: 3px;
  }
}
