.logotype {
  @include link-no-decoration();
  @include link-colors(var(--color-emphasized));

  font-size: 150%;
  font-weight: bold;
  text-decoration: none;

  span {
    display: inline-block;
    transform: rotate(45deg) translate(25%, 50%);
  }

  @include media('screen', '>=tablet') {
    position: sticky;
    top: var(--spacing-compact);
  }
}
