<!doctype html>
<html data-current="{{ section }}" lang="en">

{{> components/head }}

<body>

<header>
  <a
    href="{{ url '/' }}"
    class="logotype"
  >kaspi<span>.dev</span></a>
</header>

<main>
  {{{ layoutContent }}}
</main>

{{> components/footer }}

{{> components/body-end }}

</body>

</html>
